{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://clouddirectory.amazonaws.com/"
        },
        {
            "url": "http://clouddirectory.amazonaws.com/"
        }
    ],
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Amazon Cloud Directory</fullname> <p>Amazon Cloud Directory is a component of the AWS Directory Service that simplifies the development and management of cloud-scale web, mobile, and IoT applications. This guide describes the Cloud Directory operations that you can call programmatically and includes detailed information on data types and errors. For information about Cloud Directory features, see <a href=\"https://aws.amazon.com/directoryservice/\">AWS Directory Service</a> and the <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/what_is_cloud_directory.html\">Amazon Cloud Directory Developer Guide</a>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon CloudDirectory",
        "version": "2017-01-11",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/clouddirectory-2017-01-11.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "clouddirectory"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/clouddirectory/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/amazonclouddirectory/2017-01-11/batchread": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Performs all the read operations in a batch. ",
                "operationId": "BatchRead",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Responses": {
                                            "description": "A list of all the responses for each batch read.",
                                            "items": {
                                                "description": "Represents the output of a <code>BatchRead</code> response operation.",
                                                "properties": {
                                                    "ExceptionResponse": {
                                                        "description": "Identifies which operation in a batch has failed.",
                                                        "properties": {
                                                            "Message": {
                                                                "description": "An exception message that is associated with the failure.",
                                                                "type": "string"
                                                            },
                                                            "Type": {
                                                                "description": "A type of exception, such as <code>InvalidArnException</code>.",
                                                                "enum": [
                                                                    "ValidationException",
                                                                    "InvalidArnException",
                                                                    "ResourceNotFoundException",
                                                                    "InvalidNextTokenException",
                                                                    "AccessDeniedException",
                                                                    "NotNodeException",
                                                                    "FacetValidationException",
                                                                    "CannotListParentOfRootException",
                                                                    "NotIndexException",
                                                                    "NotPolicyException",
                                                                    "DirectoryNotEnabledException",
                                                                    "LimitExceededException",
                                                                    "InternalServiceException"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "SuccessfulResponse": {
                                                        "description": "Identifies which operation in a batch has succeeded.",
                                                        "properties": {
                                                            "GetLinkAttributes": {
                                                                "description": "The list of attributes to retrieve from the typed link.",
                                                                "properties": {
                                                                    "Attributes": {
                                                                        "description": "The attributes that are associated with the typed link.",
                                                                        "items": {
                                                                            "description": "The combination of an attribute key and an attribute value.",
                                                                            "properties": {
                                                                                "Key": {
                                                                                    "description": "The key of the attribute.",
                                                                                    "properties": {
                                                                                        "FacetName": {
                                                                                            "description": "The name of the facet that the attribute exists within.",
                                                                                            "maxLength": 64,
                                                                                            "minLength": 1,
                                                                                            "pattern": "^[a-zA-Z0-9._-]*$",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "Name": {
                                                                                            "description": "The name of the attribute.",
                                                                                            "maxLength": 230,
                                                                                            "minLength": 1,
                                                                                            "pattern": "^[a-zA-Z0-9._:-]*$",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "SchemaArn": {
                                                                                            "description": "The Amazon Resource Name (ARN) of the schema that contains the facet and attribute.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "SchemaArn",
                                                                                        "FacetName",
                                                                                        "Name"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "Value": {
                                                                                    "description": "The value of the attribute.",
                                                                                    "properties": {
                                                                                        "BinaryValue": {
                                                                                            "description": "A binary data value.",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "BooleanValue": {
                                                                                            "description": "A Boolean data value.",
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "DatetimeValue": {
                                                                                            "description": "A date and time value.",
                                                                                            "format": "date-time",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "NumberValue": {
                                                                                            "description": "A number data value.",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "StringValue": {
                                                                                            "description": "A string data value.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "Key",
                                                                                "Value"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "GetObjectAttributes": {
                                                                "description": "Retrieves attributes within a facet that are associated with an object.",
                                                                "properties": {
                                                                    "Attributes": {
                                                                        "description": "The attribute values that are associated with an object.",
                                                                        "items": {
                                                                            "description": "The combination of an attribute key and an attribute value.",
                                                                            "properties": {
                                                                                "Key": {
                                                                                    "description": "The key of the attribute.",
                                                                                    "properties": {
                                                                                        "FacetName": {
                                                                                            "description": "The name of the facet that the attribute exists within.",
                                                                                            "maxLength": 64,
                                                                                            "minLength": 1,
                                                                                            "pattern": "^[a-zA-Z0-9._-]*$",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "Name": {
                                                                                            "description": "The name of the attribute.",
                                                                                            "maxLength": 230,
                                                                                            "minLength": 1,
                                                                                            "pattern": "^[a-zA-Z0-9._:-]*$",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "SchemaArn": {
                                                                                            "description": "The Amazon Resource Name (ARN) of the schema that contains the facet and attribute.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "SchemaArn",
                                                                                        "FacetName",
                                                                                        "Name"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "Value": {
                                                                                    "description": "The value of the attribute.",
                                                                                    "properties": {
                                                                                        "BinaryValue": {
                                                                                            "description": "A binary data value.",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "BooleanValue": {
                                                                                            "description": "A Boolean data value.",
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "DatetimeValue": {
                                                                                            "description": "A date and time value.",
                                                                                            "format": "date-time",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "NumberValue": {
                                                                                            "description": "A number data value.",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "StringValue": {
                                                                                            "description": "A string data value.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "Key",
                                                                                "Value"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "GetObjectInformation": {
                                                                "description": "Retrieves metadata about an object.",
                                                                "properties": {
                                                                    "ObjectIdentifier": {
                                                                        "description": "The <code>ObjectIdentifier</code> of the specified object.",
                                                                        "type": "string"
                                                                    },
                                                                    "SchemaFacets": {
                                                                        "description": "The facets attached to the specified object.",
                                                                        "items": {
                                                                            "description": "A facet.",
                                                                            "properties": {
                                                                                "FacetName": {
                                                                                    "description": "The name of the facet.",
                                                                                    "maxLength": 64,
                                                                                    "minLength": 1,
                                                                                    "pattern": "^[a-zA-Z0-9._-]*$",
                                                                                    "type": "string"
                                                                                },
                                                                                "SchemaArn": {
                                                                                    "description": "The ARN of the schema that contains the facet with no minor component. See <a>arns</a> and <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/schemas_inplaceschemaupgrade.html\">In-Place Schema Upgrade</a> for a description of when to provide minor versions.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ListAttachedIndices": {
                                                                "description": "Lists indices attached to an object.",
                                                                "properties": {
                                                                    "IndexAttachments": {
                                                                        "description": "The indices attached to the specified object.",
                                                                        "items": {
                                                                            "description": "Represents an index and an attached object.",
                                                                            "properties": {
                                                                                "IndexedAttributes": {
                                                                                    "description": "The indexed attribute values.",
                                                                                    "items": {
                                                                                        "description": "The combination of an attribute key and an attribute value.",
                                                                                        "properties": {
                                                                                            "Key": {
                                                                                                "description": "The key of the attribute.",
                                                                                                "properties": {
                                                                                                    "FacetName": {
                                                                                                        "description": "The name of the facet that the attribute exists within.",
                                                                                                        "maxLength": 64,
                                                                                                        "minLength": 1,
                                                                                                        "pattern": "^[a-zA-Z0-9._-]*$",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "Name": {
                                                                                                        "description": "The name of the attribute.",
                                                                                                        "maxLength": 230,
                                                                                                        "minLength": 1,
                                                                                                        "pattern": "^[a-zA-Z0-9._:-]*$",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "SchemaArn": {
                                                                                                        "description": "The Amazon Resource Name (ARN) of the schema that contains the facet and attribute.",
                                                                                                        "type": "string"
                                                                                                    }
                                                                                                },
                                                                                                "required": [
                                                                                                    "SchemaArn",
                                                                                                    "FacetName",
                                                                                                    "Name"
                                                                                                ],
                                                                                                "type": "object"
                                                                                            },
                                                                                            "Value": {
                                                                                                "description": "The value of the attribute.",
                                                                                                "properties": {
                                                                                                    "BinaryValue": {
                                                                                                        "description": "A binary data value.",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "BooleanValue": {
                                                                                                        "description": "A Boolean data value.",
                                                                                                        "type": "boolean"
                                                                                                    },
                                                                                                    "DatetimeValue": {
                                                                                                        "description": "A date and time value.",
                                                                                                        "format": "date-time",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "NumberValue": {
                                                                                                        "description": "A number data value.",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "StringValue": {
                                                                                                        "description": "A string data value.",
                                                                                                        "type": "string"
                                                                                                    }
                                                                                                },
                                                                                                "type": "object"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "Key",
                                                                                            "Value"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "ObjectIdentifier": {
                                                                                    "description": "In response to <a>ListIndex</a>, the <code>ObjectIdentifier</code> of the object attached to the index. In response to <a>ListAttachedIndices</a>, the <code>ObjectIdentifier</code> of the index attached to the object. This field will always contain the <code>ObjectIdentifier</code> of the object on the opposite side of the attachment specified in the query.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "NextToken": {
                                                                        "description": "The pagination token.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ListIncomingTypedLinks": {
                                                                "description": "Returns a paginated list of all the incoming <a>TypedLinkSpecifier</a> information for an object. It also supports filtering by typed link facet and identity attributes. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.",
                                                                "properties": {
                                                                    "LinkSpecifiers": {
                                                                        "description": "Returns one or more typed link specifiers as output.",
                                                                        "items": {
                                                                            "description": "Contains all the information that is used to uniquely identify a typed link. The parameters discussed in this topic are used to uniquely specify the typed link being operated on. The <a>AttachTypedLink</a> API returns a typed link specifier while the <a>DetachTypedLink</a> API accepts one as input. Similarly, the <a>ListIncomingTypedLinks</a> and <a>ListOutgoingTypedLinks</a> API operations provide typed link specifiers as output. You can also construct a typed link specifier from scratch.",
                                                                            "properties": {
                                                                                "IdentityAttributeValues": {
                                                                                    "description": "Identifies the attribute value to update.",
                                                                                    "items": {
                                                                                        "description": "Identifies the attribute name and value for a typed link.",
                                                                                        "properties": {
                                                                                            "AttributeName": {
                                                                                                "description": "The attribute name of the typed link.",
                                                                                                "maxLength": 230,
                                                                                                "minLength": 1,
                                                                                                "pattern": "^[a-zA-Z0-9._:-]*$",
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Value": {
                                                                                                "description": "The value for the typed link.",
                                                                                                "properties": {
                                                                                                    "BinaryValue": {
                                                                                                        "description": "A binary data value.",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "BooleanValue": {
                                                                                                        "description": "A Boolean data value.",
                                                                                                        "type": "boolean"
                                                                                                    },
                                                                                                    "DatetimeValue": {
                                                                                                        "description": "A date and time value.",
                                                                                                        "format": "date-time",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "NumberValue": {
                                                                                                        "description": "A number data value.",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "StringValue": {
                                                                                                        "description": "A string data value.",
                                                                                                        "type": "string"
                                                                                                    }
                                                                                                },
                                                                                                "type": "object"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "AttributeName",
                                                                                            "Value"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "SourceObjectReference": {
                                                                                    "description": "Identifies the source object that the typed link will attach to.",
                                                                                    "properties": {
                                                                                        "Selector": {
                                                                                            "description": "<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html\">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "TargetObjectReference": {
                                                                                    "description": "Identifies the target object that the typed link will attach to.",
                                                                                    "properties": {
                                                                                        "Selector": {
                                                                                            "description": "<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html\">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "TypedLinkFacet": {
                                                                                    "description": "Identifies the typed link facet that is associated with the typed link.",
                                                                                    "properties": {
                                                                                        "SchemaArn": {
                                                                                            "description": "The Amazon Resource Name (ARN) that is associated with the schema. For more information, see <a>arns</a>.",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "TypedLinkName": {
                                                                                            "description": "The unique name of the typed link facet.",
                                                                                            "pattern": "^[a-zA-Z0-9._-]*$",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "SchemaArn",
                                                                                        "TypedLinkName"
                                                                                    ],
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "TypedLinkFacet",
                                                                                "SourceObjectReference",
                                                                                "TargetObjectReference",
                                                                                "IdentityAttributeValues"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "NextToken": {
                                                                        "description": "The pagination token.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ListIndex": {
                                                                "description": "Lists objects attached to the specified index.",
                                                                "properties": {
                                                                    "IndexAttachments": {
                                                                        "description": "The objects and indexed values attached to the index.",
                                                                        "items": {
                                                                            "description": "Represents an index and an attached object.",
                                                                            "properties": {
                                                                                "IndexedAttributes": {
                                                                                    "description": "The indexed attribute values.",
                                                                                    "items": {
                                                                                        "description": "The combination of an attribute key and an attribute value.",
                                                                                        "properties": {
                                                                                            "Key": {
                                                                                                "description": "The key of the attribute.",
                                                                                                "properties": {
                                                                                                    "FacetName": {
                                                                                                        "description": "The name of the facet that the attribute exists within.",
                                                                                                        "maxLength": 64,
                                                                                                        "minLength": 1,
                                                                                                        "pattern": "^[a-zA-Z0-9._-]*$",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "Name": {
                                                                                                        "description": "The name of the attribute.",
                                                                                                        "maxLength": 230,
                                                                                                        "minLength": 1,
                                                                                                        "pattern": "^[a-zA-Z0-9._:-]*$",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "SchemaArn": {
                                                                                                        "description": "The Amazon Resource Name (ARN) of the schema that contains the facet and attribute.",
                                                                                                        "type": "string"
                                                                                                    }
                                                                                                },
                                                                                                "required": [
                                                                                                    "SchemaArn",
                                                                                                    "FacetName",
                                                                                                    "Name"
                                                                                                ],
                                                                                                "type": "object"
                                                                                            },
                                                                                            "Value": {
                                                                                                "description": "The value of the attribute.",
                                                                                                "properties": {
                                                                                                    "BinaryValue": {
                                                                                                        "description": "A binary data value.",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "BooleanValue": {
                                                                                                        "description": "A Boolean data value.",
                                                                                                        "type": "boolean"
                                                                                                    },
                                                                                                    "DatetimeValue": {
                                                                                                        "description": "A date and time value.",
                                                                                                        "format": "date-time",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "NumberValue": {
                                                                                                        "description": "A number data value.",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "StringValue": {
                                                                                                        "description": "A string data value.",
                                                                                                        "type": "string"
                                                                                                    }
                                                                                                },
                                                                                                "type": "object"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "Key",
                                                                                            "Value"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "ObjectIdentifier": {
                                                                                    "description": "In response to <a>ListIndex</a>, the <code>ObjectIdentifier</code> of the object attached to the index. In response to <a>ListAttachedIndices</a>, the <code>ObjectIdentifier</code> of the index attached to the object. This field will always contain the <code>ObjectIdentifier</code> of the object on the opposite side of the attachment specified in the query.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "NextToken": {
                                                                        "description": "The pagination token.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ListObjectAttributes": {
                                                                "description": "Lists all attributes that are associated with an object.",
                                                                "properties": {
                                                                    "Attributes": {
                                                                        "description": "The attributes map that is associated with the object. <code>AttributeArn</code> is the key; attribute value is the value.",
                                                                        "items": {
                                                                            "description": "The combination of an attribute key and an attribute value.",
                                                                            "properties": {
                                                                                "Key": {
                                                                                    "description": "The key of the attribute.",
                                                                                    "properties": {
                                                                                        "FacetName": {
                                                                                            "description": "The name of the facet that the attribute exists within.",
                                                                                            "maxLength": 64,
                                                                                            "minLength": 1,
                                                                                            "pattern": "^[a-zA-Z0-9._-]*$",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "Name": {
                                                                                            "description": "The name of the attribute.",
                                                                                            "maxLength": 230,
                                                                                            "minLength": 1,
                                                                                            "pattern": "^[a-zA-Z0-9._:-]*$",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "SchemaArn": {
                                                                                            "description": "The Amazon Resource Name (ARN) of the schema that contains the facet and attribute.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "SchemaArn",
                                                                                        "FacetName",
                                                                                        "Name"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "Value": {
                                                                                    "description": "The value of the attribute.",
                                                                                    "properties": {
                                                                                        "BinaryValue": {
                                                                                            "description": "A binary data value.",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "BooleanValue": {
                                                                                            "description": "A Boolean data value.",
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "DatetimeValue": {
                                                                                            "description": "A date and time value.",
                                                                                            "format": "date-time",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "NumberValue": {
                                                                                            "description": "A number data value.",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "StringValue": {
                                                                                            "description": "A string data value.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "Key",
                                                                                "Value"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "NextToken": {
                                                                        "description": "The pagination token.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ListObjectChildren": {
                                                                "description": "Returns a paginated list of child objects that are associated with a given object.",
                                                                "properties": {
                                                                    "Children": {
                                                                        "description": "The children structure, which is a map with the key as the <code>LinkName</code> and <code>ObjectIdentifier</code> as the value.",
                                                                        "items": {
                                                                            "properties": {
                                                                                "key": {
                                                                                    "maxLength": 64,
                                                                                    "minLength": 1,
                                                                                    "pattern": "[^\\/\\[\\]\\(\\):\\{\\}#@!?\\s\\\\;]+",
                                                                                    "type": "string"
                                                                                },
                                                                                "value": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "NextToken": {
                                                                        "description": "The pagination token.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ListObjectParentPaths": {
                                                                "description": "Retrieves all available parent paths for any object type such as node, leaf node, policy node, and index node objects. For more information about objects, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directorystructure.html\">Directory Structure</a>.",
                                                                "properties": {
                                                                    "NextToken": {
                                                                        "description": "The pagination token.",
                                                                        "type": "string"
                                                                    },
                                                                    "PathToObjectIdentifiersList": {
                                                                        "description": "Returns the path to the <code>ObjectIdentifiers</code> that are associated with the directory.",
                                                                        "items": {
                                                                            "description": "Returns the path to the <code>ObjectIdentifiers</code> that is associated with the directory.",
                                                                            "properties": {
                                                                                "ObjectIdentifiers": {
                                                                                    "description": "Lists <code>ObjectIdentifiers</code> starting from directory root to the object in the request.",
                                                                                    "items": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "Path": {
                                                                                    "description": "The path that is used to identify the object starting from directory root.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ListObjectParents": {
                                                                "properties": {
                                                                    "NextToken": {
                                                                        "type": "string"
                                                                    },
                                                                    "ParentLinks": {
                                                                        "items": {
                                                                            "description": "A pair of ObjectIdentifier and LinkName.",
                                                                            "properties": {
                                                                                "LinkName": {
                                                                                    "description": "The name of the link between the parent and the child object.",
                                                                                    "maxLength": 64,
                                                                                    "minLength": 1,
                                                                                    "pattern": "[^\\/\\[\\]\\(\\):\\{\\}#@!?\\s\\\\;]+",
                                                                                    "type": "string"
                                                                                },
                                                                                "ObjectIdentifier": {
                                                                                    "description": "The ID that is associated with the object.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ListObjectPolicies": {
                                                                "description": "Returns policies attached to an object in pagination fashion.",
                                                                "properties": {
                                                                    "AttachedPolicyIds": {
                                                                        "description": "A list of policy <code>ObjectIdentifiers</code>, that are attached to the object.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "NextToken": {
                                                                        "description": "The pagination token.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ListOutgoingTypedLinks": {
                                                                "description": "Returns a paginated list of all the outgoing <a>TypedLinkSpecifier</a> information for an object. It also supports filtering by typed link facet and identity attributes. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.",
                                                                "properties": {
                                                                    "NextToken": {
                                                                        "description": "The pagination token.",
                                                                        "type": "string"
                                                                    },
                                                                    "TypedLinkSpecifiers": {
                                                                        "description": "Returns a typed link specifier as output.",
                                                                        "items": {
                                                                            "description": "Contains all the information that is used to uniquely identify a typed link. The parameters discussed in this topic are used to uniquely specify the typed link being operated on. The <a>AttachTypedLink</a> API returns a typed link specifier while the <a>DetachTypedLink</a> API accepts one as input. Similarly, the <a>ListIncomingTypedLinks</a> and <a>ListOutgoingTypedLinks</a> API operations provide typed link specifiers as output. You can also construct a typed link specifier from scratch.",
                                                                            "properties": {
                                                                                "IdentityAttributeValues": {
                                                                                    "description": "Identifies the attribute value to update.",
                                                                                    "items": {
                                                                                        "description": "Identifies the attribute name and value for a typed link.",
                                                                                        "properties": {
                                                                                            "AttributeName": {
                                                                                                "description": "The attribute name of the typed link.",
                                                                                                "maxLength": 230,
                                                                                                "minLength": 1,
                                                                                                "pattern": "^[a-zA-Z0-9._:-]*$",
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Value": {
                                                                                                "description": "The value for the typed link.",
                                                                                                "properties": {
                                                                                                    "BinaryValue": {
                                                                                                        "description": "A binary data value.",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "BooleanValue": {
                                                                                                        "description": "A Boolean data value.",
                                                                                                        "type": "boolean"
                                                                                                    },
                                                                                                    "DatetimeValue": {
                                                                                                        "description": "A date and time value.",
                                                                                                        "format": "date-time",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "NumberValue": {
                                                                                                        "description": "A number data value.",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "StringValue": {
                                                                                                        "description": "A string data value.",
                                                                                                        "type": "string"
                                                                                                    }
                                                                                                },
                                                                                                "type": "object"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "AttributeName",
                                                                                            "Value"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "SourceObjectReference": {
                                                                                    "description": "Identifies the source object that the typed link will attach to.",
                                                                                    "properties": {
                                                                                        "Selector": {
                                                                                            "description": "<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html\">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "TargetObjectReference": {
                                                                                    "description": "Identifies the target object that the typed link will attach to.",
                                                                                    "properties": {
                                                                                        "Selector": {
                                                                                            "description": "<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html\">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "TypedLinkFacet": {
                                                                                    "description": "Identifies the typed link facet that is associated with the typed link.",
                                                                                    "properties": {
                                                                                        "SchemaArn": {
                                                                                            "description": "The Amazon Resource Name (ARN) that is associated with the schema. For more information, see <a>arns</a>.",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "TypedLinkName": {
                                                                                            "description": "The unique name of the typed link facet.",
                                                                                            "pattern": "^[a-zA-Z0-9._-]*$",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "SchemaArn",
                                                                                        "TypedLinkName"
                                                                                    ],
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "TypedLinkFacet",
                                                                                "SourceObjectReference",
                                                                                "TargetObjectReference",
                                                                                "IdentityAttributeValues"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ListPolicyAttachments": {
                                                                "description": "Returns all of the <code>ObjectIdentifiers</code> to which a given policy is attached.",
                                                                "properties": {
                                                                    "NextToken": {
                                                                        "description": "The pagination token.",
                                                                        "type": "string"
                                                                    },
                                                                    "ObjectIdentifiers": {
                                                                        "description": "A list of <code>ObjectIdentifiers</code> to which the policy is attached.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "LookupPolicy": {
                                                                "description": "Lists all policies from the root of the <a>Directory</a> to the object specified. If there are no policies present, an empty list is returned. If policies are present, and if some objects don't have the policies attached, it returns the <code>ObjectIdentifier</code> for such objects. If policies are present, it returns <code>ObjectIdentifier</code>, <code>policyId</code>, and <code>policyType</code>. Paths that don't lead to the root from the target object are ignored. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directory.html#key_concepts_policies\">Policies</a>.",
                                                                "properties": {
                                                                    "NextToken": {
                                                                        "description": "The pagination token.",
[...]
